// -------------------------- //
//       VARIABLES FILE 
// -------------------------- //

// THEME COLOR PALETTE 
$primaryColor: #6C5DD6;
$secondryColor: #D3CEF3;
$lightGrey: #F3F3F3;
$whiteColor: #FFFFFF;
$darkColor: #222222;
